
<div id="account_index">
  <div class="profile">
    <div class="image">
      <%= image_tag (@current_user.avatar.attached? ? @current_user.avatar : "users/atom-logo.jpg")  %>
    </div>
    <div class="name"><%= @current_user.name %></div>
    <div class="edit"><%= link_to 'プロフィール編集', '#' %></div>
  </div>
  <div class="num-top">
    <a href="#" class="trading"><span class="text">いいね!・閲覧履歴</span></a>
    <a href="#" class="follow"><span>###</span><span class="text">お気に入りの先生</span></a>
    <div class="history"<%= link_to '###', '#' %><span class="text">参加数</span></div>
  </div>
  <div class="other-top">
    <a href="#" class="other-personal">
      個人情報設定
    </a>
    <a href="#" class="other-notification">
      通知の設定
    </a>
  </div>
  <div class="home-top">
    <a href="#" class="home-page">
      homepage
    </a>
    <a href="#" class="home-blog">
      blog
    </a>
    <a href="#" class="home-twitter">
      twitter
    </a>
    <a href="#" class="home-instagram">
      instagram
    </a>
  </div>
</div>
