// Place all the styles related to the teacher::schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'header.scss';

$plan_color: red;
#teacher_schedule_index{
  padding: 44px 0;
  background-color: #fff5e6;
  // The calendar style is described below
  #explanation{
    background-color: white;
    font-size: 1.197rem;
    padding: 10px 0;
    @include flexbox;
    span{
      width: 50%;
      @include flexbox;
      @include align-items(center);
      &::before{
        content: '';
        width: 1.197rem;
        height: 1.197rem;
        display: block;
        border-radius: 50%;
        margin: 0 0.855rem;
      }
      &#performed:before{
        background-color: blue;
      }
      &#plan:before{
        background-color: $plan_color;
      }
    }
  }
}







// fullCalendar
$title_color: #ff9e00;
#calendar-ts{
  background-color: white;
  .fc-right{ //タイトル右の月選択ボタン
    @include flexbox;
    width: 40%;
    .fc-button{ //タイトルのボタンのスタイル
      border: none;
      background: #f5deb300;
      color: $title_color;
      box-shadow: none;
      padding: 0;
      @include flex-grow(1);
    }
  }
  .fc-month-view{ //月表記のスタイル
    border-top: solid #bfbfbf 1px;
    .fc-day-header{
      font-weight: 100;
    }
    .fc-week{
      min-height: 42px;
      @include flexbox;
      @include align-items(center);
      .fc-day-number{ //日付のスタイル
        float: none;
        }
    }
    td,th{border-color: #ddd0!important;}
  }
  .fc-agendaWeek-view{ //日表記のスタイル
    .fc-day-grid{ //日表記のalldayってやつ
      display: none;
    }
  }
  .event_plan{
    span{
      background-color: $plan_color;
      color: white;
      width: 23px;
      height: 23px;
      border-radius: 50%;
    }
  }
  h2{
    color: $title_color;
  }
  button{
    font-size: 20px;
    line-height: 1;
    height: 20px;
  }
}
