<h1>Editing Event</h1>

<%= render 'form', home: @home %>


<%= link_to 'Back', schedule_path(City.find(@home.cityId).prefectureId), data: {"turbolinks"=>false}  %> |
<%= link_to 'Destroy', home_path(@home.id), method: :delete, data: { confirm: 'Are you sure?' } %>
