<div id="area_list" style="width: 100%; display: table;">
  <ul style="display: block;">
    <% Region.all.each_with_index do |a,i| %>
    <li
      <% if i==0 %>
      style="border-top: 1px solid gray;"
      <% end %> >
      <a class="region_a"><%=a.name%></a>

      <ul class="prefecture_list"
      <% if i==2 %>
      id="display_show"
      <% end %> style="display: block">
        <% if Prefecture.find_by(regionId: a.id).nil? %>
        <li><a class="prefecture_a">準備中</a></li>
        <% end %>
        <% Prefecture.where(regionId: a.id).each do |b| %>
        <li>
          <%= link_to b.name, homes_schedule_path(selected_prefecture: b.id), data: {"turbolinks"=>false}  %>
        </li>
        <% end %>
      </ul>

    </li>
    <% end %>
  </ul>
</div>
