<% set_meta_tags title: '駅近カフェですきま時間英会話', description: '日本全国で開催されている「スキマ時間英会話」のスケジュールを掲載しております。
お住いの都道府県を選択し、お近くのカフェで開催している中からお好きな時間帯を選んで「参加申し込み」からお申し込みください'%>

<h1>開催スケジュール</h1>
<div id="area_list" style="width: 100%; display: table;">
  <ul id="area_list_ul">
    <% Region.all.each_with_index do |region,index| %>
    <li
      <% if index==0 %>
      style="border-top: 1px solid gray;"
      <% end %>>
      <a class="region_a"><%=region.name%></a>

      <ul class="prefecture_list"
      <% if index==2 %>
      style="display: block;" id="display_show"
      <% else %> style="display: none;" <% end %>>
        <% if region.prefectures.empty? %>
          <li><a>準備中</a></li>
        <% else %>
          <% region.prefectures.each do |prefecure| %>
          <li>
            <%= link_to prefecure.name, schedule_path(prefecure.id), data: {"turbolinks"=>false}  %>
          </li>
          <% end %>
        <% end %>
      </ul>

    </li>
    <% end %>
  </ul>
</div>
