
<div id="toc_container" style="width: auto; display: table;">
  <p >この記事の目次</p>
  <ul style="display: block;">
    <li><a href="#overview_index_1">挨拶</a></li>
    <li><a href="#overview_index_2">すきま時間英会話とは</a></li>
    <li><a href="#overview_index_3">料金について</a></li>
  </ul>
</div>
<h1 id="overview_index_1">挨拶</h1>
<p>
  英語が話せるようになりたいが、留学するのには時間がない、お金がない。英会話はしたいけど、モチベーションが続かない。そう思っているひとは多いんのではないでしょうか。<br>
  そこで、僕たちはMeet Up Englishというグループを立ち上げ、予定と予定のすきま時間に英会話をすることによって、気軽に英会話できる機会を提供しようと思いました。
</p>
<h1 id="overview_index_2">すきま時間英会話とは</h1>
<p>
  カフェ開催スケジュールページに記載されている時間カフェ等にネイティブの先生が座っています。自分のすきま時間にすきま時間英会話が開催されていたら、ご利用ください。
  ４人席の場合、先生１人に対して、残り３人座ることができます。
</p>
<h1 id="overview_index_3">料金プラン</h1>
<p>
  １人１時間1000円
（別途、カフェで開催のためワンオーダー制）<br>
登録費・入会費一切かかりません
</p>
