
<div class="toc_container" style="width: auto; display: table;">
  <p>この記事の目次</p>
  <ul style="display: block;">
    <li><a href="#overview_index_1">挨拶</a></li>
    <li><a href="#overview_index_2">Meet Up Englishとは</a></li>
    <li><a href="#overview_index_3">料金プラン</a></li>
  </ul>
</div>
<h1 id="overview_index_1">挨拶</h1>
<p>
  こんにちは！Meet Up English Group です。<br>
  僕たちは学生4人の組織で、従来の英会話の立ち位置や、日本人の英語力の低さをみて、より良い英会話の立ち位置を定めるべく、"英会話革命"を起こします。<br>
  "Meet Up English"の実現は日本の英語力向上に確実に貢献すると思います。<br>
  まだまだ、未完成でこれからという感じではありますが、どうぞよろしくお願い致します。<br>
</p>
<h1 id="overview_index_2">Meet Up Englishとは</h1>
<p>
  英語が話せるようになりたいが、留学するのには時間がない、お金がない。英会話はしたいけど、モチベーションが続かない。そう思っているひとは多いのではないでしょうか。<br>
  そこで、僕たちはMeet Up Englishというサービスを立ち上げました。。<br>
  僕たちは"すきま時間英会話"というテーマを掲げていますが、、僕たちのコンセプトは正確には"すきま時間プチ留学"です。<br>
  日本人の多くの方は、英語に対する苦手意識から、参考書等で勉強をしてから、、、英単語を覚えてから、、、英会話の授業を受けてから、でないとネイティブの方とお話しするのなんて無理だと思っていると思います。<br>
  ですが、それらはとても効果が薄いのです。みなさんは自転車に乗りたいと思った時、自転車の乗り方を調べて足の動かし方をシュミレーションしていましたか？<br>
  ほとんどの方が小さいころに自転車の乗り方を習得したと思いますが、それは自転車を乗っているなかで、何度うまくいかないことがあっても気にせず乗り続けて乗れるようになりましたよね。<br>
  それと同じで英会話学習も、苦手意識や間違えることへの羞恥心を捨てて、ネイティブの方と何度もフリーカンバセーションをしていくうちに話せるようになってくるのだと思います。<br>
  よくネイティブが英語を話せるのは幼少期のころに英語を聞き続けて、わからない中でも話そうとし続けていることが原因だといわれますが、本当にそのような環境で英会話力を伸ばせるのは幼少期に限られるのでしょうか？<br>
  僕たちは老若男女問わずネイティブの方と少しの時間でもフリーカンバセーションをすることを継続することが英会話力をあげる最大の近道だと思います。<br>
  ですが、苦手なことを継続させるのは骨が折れますよね。モチベーションが続かないですよね。<br>
  そう思って僕たちはすきま時間に英会話をマッチングさせるサービス"Meet Up English"を企画しました。<br>
  <br>
  現状町田付近でのみの開催、カフェのみの開催、決まった時間のみの開催となっていますが、僕たちの最終的なビジョンとしては、英語を使ってお金を稼ぎたい、ネイティブの方と、"Meet Up English"の方向性に賛同していただいた生徒さんとをマッチングさせるアプリケーションを開発しようと考えています。<br>
  それが実現できると、好きな時間に好きな場所で英会話をできるということになります。<br>
  ただ、"Meet Up English"に賛同してくれる方が少ないままそのようなアプリケーションを作ったとしても、マッチング数は確実に少ないままとなり、機能しないアプリケーションになります。<br>
  ですので、僕たちは"Meet Up English"実現の第一歩として、こちらで用意させていただいたネイティブ講師との仲介という形になっております。<br>
  カフェ開催スケジュールページに記載されている時間に、カフェ等でネイティブの先生が座っています。自分のすきま時間にMeet Up Englishが開催されていたら、ご利用ください。<br>
  ４人席の場合、先生１人に対して、残り３人座ることができます。<br>

</p>
<h1 id="overview_index_3">料金プラン</h1>
<p>
  基本、ネイティブ講師と1:3でのフリーカンバセーション<br>
  １人１時間1000円
（別途、カフェで開催のためワンオーダー制）<br>
登録費・入会費一切かかりません
</p>
