<h1>Group紹介</h1>
<p>
こんにちは！Meet Up English Group です。<br>
僕たちは従来の英会話の立ち位置や、日本人の英語力の低さをみて、より良い英会話の立ち位置を定めるべく、"英会話革命"を起こします。<br>
"Meet Up English"の実現は日本の英語力向上に確実に貢献すると思います。<br>
まだまだ、未完成でこれからという感じではありますが、どうぞよろしくお願い致します。<br>
</p>


<div class="toc_container" style="width: auto; display: table;">
<p>この記事の目次</p>
<ul style="display: block;">
<li><a href="#overview_index_1">Gruop理念</a></li>
<li><a href="#overview_index_2">Meet Up Englishとは</a></li>
<li><a href="#overview_index_3">料金プラン</a></li>
</ul>
</div>


<h2 id="overview_index_1">Gruop理念</h2>
<p>Meet Up Englishの理念は、世界を股にかけて活躍するための日本人を応援することです。<br>
これから益々グローバル化が進む現代で、さらなる需要が高まる英語を、英会話業界初のサービスを用いることで<br>
今までの概念を刷新していきます。<br></p>
<h2 id="overview_index_2">Meet Up Englishとは</h2>
<%=image_tag("overview-1.png", id: "overview-1-img") %>
<p>
先生は私たちが採用するのではなく、先生になりたい人がアプリで登録してなることができます。
また、英会話の予約は先生も生徒もアプリを使って行います。<br><br>
<%=image_tag("overview-2.png", id: "overview-2-img") %>
まず、先生がやりたい日時、やりたい場所（カフェのようなどこでもある場所）、募集人数(何人の生徒と英会話するか)、1時間あたりの金額をアプリに投稿します。<br>
日時は、偶然できた空き時間をリアルタイムで投稿することもできます。
それに対し、生徒はアプリで参加したい日時を検索すると、その時間帯に登録している先生が地図上に表示されます。<br>生徒は、表示された先生の中から先生の評価、場所、金額、参加人数を選別基準として、先生を選択することができます。<br>
先生の評価を設定することにより、先生の質と意識を高めることができます。<br>
この英会話サービスの弱点は認知度が無ければ成立しないことです。私たちはアプリ完成までに、この弱点を少しでも克服するべく、SNSで生徒を募集し定期的に英会話サービスを開催したり、その様子のブログを書いたり、ポスターを貼るなど、アプリケーション開発と並行して、認知度と信頼の向上に努めております。
このアプリが完成し、多くの人に知って頂けるようになれば、忙しい方、予定が不規則な方、金銭的に余裕がない方を含む多くの方に使って頂けるようになるだけでなく、人と人の空き時間を繋げ、たくさんの人の空き時間を価値のある時間に変えられるのではないかと考えています。


</p>
<h2 id="overview_index_3">料金プラン</h2>
<p>
ネイティブ講師１名と1〜３名で行う英会話です。<br>
１人１時間1000円<br>
その後、30分ごとに500円<br>
(別途、カフェで開催のためワンオーダー制)<br>
登録費・入会費一切かかりません
</p>
