<h1>挨拶</h1>
<p>
  英語が話せるようになりたいが、留学するのには時間がない、お金がない。英会話はしたいけど、モチベーションが続かない。そう思っているひとは多いんのではないでしょうか。<br>
  そこで、僕たちはMeet Up Englishというグループを立ち上げ、予定と予定のすきま時間に英会話をすることによって、気軽に英会話できる機会を提供しようと思いました。
</p>
<h1>すきま時間英会話とは</h1>
<p>
  カフェ開催スケジュールページに記載されている時間カフェ等にネイティブの先生が座っています。自分のすきま時間にすきま時間英会話が開催されていたら、ご利用ください。
  ４人席の場合、先生１人に対して、残り３人座ることができます。
</p>
<h1>料金について</h1>
<p>
  一人６０分１０００円です(滞在時間を分単位で計算して割ります。)
</p>
