<div id="overlay">
  <div id="modalWindow">
    <div class="modal-message-box">

      <div class="thanks">

      <h1>Thank you for your <%= @content %> </h1>
      <p> <%= @content_ja %>ありがとうございます。</p><p>内容を確認し次第担当よりご連絡させていただきます。</p>




      </div>

    </div>
    <button class="modal-close-btn">close</button>
  </div>
</div>
