<p id="notice"><%= notice %></p>

<h1>
  <%= @cafe.name %>
</h1>


<p>
  <%= simple_format(@cafe.description) %>
</p>

<p>
  <strong>Images:</strong><br>
<% if @cafe.images.attached? %>
  <% @cafe.images.each do |image| %>
    <%= image_tag image, :size=>"400x400" %> <br>
  <% end %>
<% end %>
</p>
