
<div id="teacher_account_index">
  <div class="profile">
    <div class="image">
      <%= image_tag (@current_teacher.avatar.attached? ? @current_teacher.avatar : "users/atom-logo.jpg")  %>
    </div>
    <div class="name"><%= @current_teacher.name %></div>
    <div class="num_top">
      <a href="#" class="num_event1">
          <span>イベント数</span>
          <span>15</span>
      </a>
      <a href="#" class="num_follow1">
          <span>フォロワー数</span>
          <span>30</span>
      </a>
    </div>
    <a href="#" class="review_top">
      ☆☆☆☆☆(30)
    </a>
    <a href="#" class="edit">
      プロフィール編集
    </a>
  </div>
  <div class="my-cafe-top">
    <div class="my-cafe">
      <a href="#">My cafe(8)</a>
    </div>
  </div>
  <div class="exhibit-top">
    <a href="#" class="exhibit-doing">
      出品中のサービス
    </a>
    <a href="#" class="exhibit-draft">
      下書き一覧
    </a>
  </div>
  <div class="other-top">
    <a href="#" class="other-personal">
      個人情報設定
    </a>
    <a href="#" class="other-notification">
      通知の設定
    </a>
  </div>
  <div class="home-top">
    <a href="#" class="home-page">
      homepage
    </a>
    <a href="#" class="home-blog">
      blog
    </a>
    <a href="#" class="home-twitter">
      twitter
    </a>
    <a href="#" class="home-instagram">
      instagram
    </a>
  </div>
</div>
