
<div id="teacher_account_index">
  <div class="image">
    <%= image_tag (@current_teacher.avatar.attached? ? @current_teacher.avatar : "users/atom-logo.jpg")  %>
  </div>
  <div class="name"><%= @current_teacher.name %></div>
  <div class="edit"><%= link_to 'プロフィール編集', '#' %></div>
</div>
