<!DOCTYPE html>
<html>
  <head>
    <%= render'layouts/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="create_contact"></div>
    <%= yield %>
  </body>
</html>
