<div id="teacher_newPlace_other">
  <h1>create new my_place</h1>

  <!-- 地名入力用のinputを追加 -->
  <input id="address" type="textbox">

  <div id='map'>  </div>
  <div id="selected_place"></div>
</div>

<script type="text/javascript">window.onload = initAutocomplete;</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAI1LzbpC5PZqv-0m6ciWAlSKMMJplLRYo&sensor=false&callback=initMap&libraries=places&&region=JP&language=en" async defer></script>
