// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'header.scss';

//index
$blog_index_image_width: 600px;
#blog_index{
  font-family: "メイリオ", sans-serif;
  #eyecatch{
    @include flexbox;
    @include justify-content(center);
    @include pc{margin: 30px 0 80px 0;}
    img{
      width: 100%;
      max-width: $blog_index_image_width;
    }
  }
  #other{
    @include pc{
      @include flexbox;
      @include flex-direction(row-reverse);
    }
    #category{
      color: gray;
      width: calc(75% + 50px);
      margin: 0 auto;
      #category-title{
        font-size: calc(27px + 1.8vw);
        font-weight: 100;
        text-shadow: 1px 2px 3px gray;
        margin-bottom: 20px;
      }
      #name{
        @include flexbox;
        @include pc{
          @include flex-direction(column);
        }
        @include sp{
          @include flex-wrap(wrap);
        }
        padding: 0 25px;
        .item{
          font-size: calc(11px + 0.6vw);
          color: gray;
          @include sp{width: 33%;}
        }
        .active{
          color: #44aefb;
        }
      }
    }
    #articles{
      @include pc{margin: 16.7667px 20px;}
    }
  }
}


article#blog{
  @include pc{margin: 35px 0;}
  @include sp{
    width: 75%;
    margin: 35px auto 35px auto;
  }
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 25px;
  background: #e8e8e7;
  .eyecatch{width: 100%;height: auto;}
  .eyecatch img{width: 100%;height: auto;}
  &.youtube{
    background-color: #ff9c9c;
    .eyecatch{
      @include flexbox;
      @include justify-content(center);
      overflow: hidden;
    }
  }
  .explain{
    @include flexbox;
    @include align-items(center);
    color: #adaaa5;
    .explain-1{
      .category{
        font-size: 1.23rem;
        text-align: center;
      }
      .blog_createdAt{
        font-size: .62rem;
        font-family: 'Poppins',sans-serif;
        letter-spacing: .03125rem;
        font-weight: 600;
        text-align: center;
      }
    }
    .commentnum_blog_index{
      padding-left: 1.282rem;
    }
  }
}


.blog_h3{padding: 16px 16px 0;margin: 0;font-size: 16px;}
.around_blog{display: grid;grid-template-columns: 45% 10% 45%;border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin: 40px 0;text-align: center;font-size: 0;}
.around_blog a{color: #333333;display: block;box-sizing: border-box;line-height: 48px;font-size: 14px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;position: relative;}
.around_blog i{position: absolute;font-size: 47px;top: -6px;overflow: hidden;width: 26px;}
.left_blog i{left: 10px;}
.left_blog{padding-left: 40px;padding-right: 25px;}
.right_blog i{right: 10px;}
.right_blog div{margin-left: -20px;}
.right_blog{padding-left: 25px;padding-right: 40px;}
.blogs_blog div{height: 18px;margin: 13px 0;line-height: 14px;border-left: 1px solid #eee;border-right: 1px solid #eee;padding: 2px 0;}
.blog_image{width: 100%;
}
.section_image{
  width: 80%;
  margin: 0px auto 0px auto;
  display: block;
}
#blog_index_comment{text-align: center;margin-top: 60px;
  a{font-size: 16px;border-radius: 20px;display: inline-block;height: 50px;background-color: #179c17;width: 220px;line-height: 50px;color: white;}
  i{position: relative;font-size: 22px;top: 2px;right: 4px;}}
#blog_comment{max-width: 600px;margin: auto;
  tr{text-align: left;}
  input{width: 100%}
  .send{margin:auto;}}
#blog_comments{
  th{text-align: left;}
  td{text-align: left;}
  .number_blog_comments{text-align: left;width: 80px;}
  div{display: inline-block;font-size: 12px;}
  .created_blog_comments{font-size: 12px;float: right;}
}



//show
#blog_paht{
  h2{
    padding: 5,;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background-color: #fafdfb;/*背景色*/
    border-left: solid 8px #0ba834f2;/*左線（実線 太さ 色）*/
    padding: 20px 15px;
    border-bottom: none;
  }
  h3{
    font-size: 18px;
    border-left: solid 6px #0ba834f2;/* border-bottom: solid 3px #d7d7d7; */
    color: #494949;/*文字色*/
    // background: transparent;/*背景透明に*/
    padding: 0px 15px 0px;
    line-height: 2;
  }
  h4{
    position: relative;/*相対位置*/
    padding-left: 1.2em;/*アイコン分のスペース*/
    line-height: 1.4;/*行高*/
    &::before{
      font-family: "Font Awesome 5 Free";
      content: "\f075";/*アイコンのユニコード*/
      position: absolute;/*絶対位置*/
      font-size: 1em;/*サイズ*/
      left: 0;/*アイコンの位置*/
      top: 0;/*アイコンの位置*/
      color: #5ab9ff; /*アイコン色*/
    }
  }
  section#blog_section{
    #last_lesson{
      @include flexbox;
      width: 92%;
      border: 2px solid #acacac;
      margin: 0 4%;
      max-height: 140px;
      .image{
        width: 30%;
        border-right: 2px solid #acacac;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title{
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        width: 70%;
        background-color: white;
        @include sp{
          font-size: 2.7vw;
          padding: 2.155vw;
        }
        @include pc{
          font-size: 25px;
          padding: 20px;
        }
      }
    }
  }
}



#blog_form, #section_form{
  textarea{
    width: 50%;
    height: 500px;
  }
}
